.footer {
    margin-bottom:25px;
    border-top:2px solid rgba(34, 34, 34, 0.03);
}

.footer-logo {
    width:250px;
    height:90px;
    margin-left:50px;
}

.footer-navbar {
    margin-top:10px;
    width:100%;
    height:127px;
    align-items: center;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}

.footer-nav-links {
    color:#222222;
    display:flex;
    min-width:12.5%;
    justify-content: space-between;
    margin-right:50px;

    //Selecting children of the nav-links
    * { 
        cursor: pointer;
        &:hover {
        text-decoration: underline;
        
    }
    }
}

.footer-extra-links {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:50px;
    margin-right:50px;
    
}

.footer-email {
    color:#9B9B9B;
    text-decoration:none;
}

.footer-built-wrapper {
    background: #FAFAFA;
    border-radius: 81px;
    padding: 5px 50px 5px;
}

.nav-apply-btn {
    font-weight:600;
    
}

.apply-arrow-right {
    height:20px;
    width:20px;
    color:white;
    
}

@media only screen and (max-width: 900px) {
    .footer {
        margin-bottom:25px;
        border-top:2px solid rgba(34, 34, 34, 0.03);
    }
    
    .footer-logo {
        width:100px;
        height:auto;
        margin-left:0;
    }
    
    .footer-navbar {
        margin-top:10px;
        width:100%;
        height:70px;
        align-items: center;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    
    }
    
    .footer-nav-links {
        color:#222222;
        display:flex;
        
        min-width:12.5%;
        justify-content: space-between;
        margin-right:0;
    
        //Selecting children of the nav-links
        * { 
            cursor: pointer;
            &:hover {
            text-decoration: underline;
            
        }
        }
    }
    
    .footer-extra-links {
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin-left:50px;
        margin-right:50px;
        
    }
    
    .footer-email {
        color:#9B9B9B;
        text-decoration:none;
    }
    
    .footer-built-wrapper {
        background: #FAFAFA;
        border-radius: 81px;
        padding: 5px 10px 5px;
    }
    
    .nav-apply-btn {
        font-weight:600;
        
    }
    
    .apply-arrow-right {
        height:20px;
        width:20px;
        color:white;
        
    }
}